export(smsn.mix,
       smsn.mmix, 
       im.smsn, 
       imm.smsn,
       mix.hist,
       mix.dens,
       mix.print,
       smsn.search,
       rmix,
       rmmix,
       mix.contour)
